@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetView</title>
</head>
<body>
    <div>
        Welcome to MVC
    </div>
    <div>
        @{
            MvcFileTest.Models.Employee e = (MvcFileTest.Models.Employee)
                ViewBag.Employee;
                }
        <b>Details </b><br />
        Employee Name: @e.FirstName@e.LastName<br />
        Employee Salary: @e.Salary.ToString("C");
    </div>
</body>
</html>
