<div class="float-left">
    <button style="margin-left:10px" onclick="location.href='@Url.Action("Index", "Home")'">File Manager List</button>
    
    @{
        Html.RenderAction("GetUploadLink", "Home");
        Html.RenderAction("GetUserManagerLink","User");
    }
</div>
