<div class"float-left">
    <button style="margin-left:10px"><a class="ui-button ui-button-text" href="/Home/Index">File Manager List</a></button>
    <button style="margin-left:10px"><a class="ui-button ui-button-text" href="/User/UserIndex">User Manager List</a></button>
</div>
