@{
    Layout = null;
}

@using MvcFileTest.ViewModels
@model EmployeeListViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetNewView</title>
</head>
<body>
    @*View中显示UserName*@
    <div style="text-align:center"> Hello, @Model.UserName 
        @*实现注销功能*@
        <a href="/Authentication/Logout">Logout</a>
    </div>
    <hr />
    <div>
        @*//非管理员用户无法add new，添加新Employee
        <a href="/Employee/AddNew">
            <input type="button" name="BtnAdd" value="Add New" />
        </a>*@
        @{
            //RenderAction和Action作用相同，Render更快，Action显示前修改action执行结果。   //Html.Action("GetAddNewLink");
            Html.RenderAction("GetAddNewLink");
        }
    </div>
    <div>
        <table border="1">
            <tr>
                <th>Employee Name</th>
                <th>Salary</th>
            </tr>
            @foreach (EmployeeViewModel employee in Model.Employees)
            {
                <tr>
                    <td>@employee.EmployeeName</td>
                    <td style="background-color:@employee.SalaryColor">@employee.Salary</td>
                </tr> 
            }
        </table>
    </div>
</body>
</html>
