@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MvcFileManager.ViewModels
@model FileViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateFile</title>
    <script>
        function ResetForm() {
            document.getElementById('TxtFileName').value = "";
            document.getElementById('FileContext').value = "";
        }
        function CancelForm() {
            window.history.go(-1);
            location.reload;
        }
    </script>
</head>
<body>
    <div>
        <form action="/Home/SaveFile" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <th>
                        File Name: 
                    </th>
                    <td>
                        <input type="text" id="TxtFileName" name="FileName" value="@Model.FileName" />
                    </td>
                </tr>

                <tr>
                    <th>
                        Upload File:
                    </th>
                    <td>
                        <input type="file" id="FileContext" name="UploadFile" value="" />
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <input type="submit" name="BtnSubmit" value="Save File" />
                        <input type="button" name="BtnReset" value="Reset" onclick="ResetForm();" />
                        <input type="button" name="BtnCancel" value="Cancel" onclick="CancelForm();" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
