@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MvcFileManager.ViewModels
@model CreateFileViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TextContent</title>
    <script>
        function ResetForm() {
            document.getElementById('TxtFileName').value = "";
            document.getElementById('TxtVersion').value = "";
            document.getElementById('TxtContent').value = "";
        }
    </script>
</head>
<body>
    <div>
        <h2>Edit File Content</h2>
    </div>
    <div>
        <form action="/Home/Edit" method="post" enctype="multipart/form-data">
            <ul>
                <li>
                    <h4>File ID is: @Model.FileId</h4>
                    <input type="hidden" id="HiddenId" name="FileId" value="@Model.FileId" />
                </li>
                <li>
                    <h4>File Name:</h4><br />
                    <input type="text" id="TxtFileName" name="FileName" value="@Model.FileName" />
                </li>
                <li>
                    <h4>File Version:</h4><br />
                    <input type="text" id="TxtVersion" name="Version" value="@Model.Version" />
                </li>
                <li>
                    <h4>New File:</h4><br />
                    <input type="file" id="FileContext" name="UploadFile" value="" />
                </li>
            </ul>
            <div>
                <input type="submit" name="BtnSubmit" value="Save" />
                <input type="button" name="BtnReset" value="Reset" onclick="ResetForm();" />
                <input type="submit" name="BtnSubmit" value="Cancel" />
            </div>
        </form>
    </div>
    
</body>
</html>